@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 200px;
  margin-left: 200px;
  background-color: gray;
}

.card {
  padding: 20px;
  background-color: whitesmoke;
  width: 300px;
  position: relative;
}

.card-header {
  line-height: 1.2;
  margin-top: 50px;
  margin-bottom: 100px;
}

.card-link {
  margin-bottom: 20px;
}

.company-name {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card-text {
  margin-top: 0;
  margin-bottom: 0;
}
